# decantificate is licensed under CC BY-SA 4.0.
# To view a copy of this license, visit
# https://creativecommons.org/licenses/by-sa/4.0/.

/configure	filter=git-crypt diff=git-crypt
/nimbleconf.inc	filter=git-crypt diff=git-crypt
/Makefile.in	filter=git-crypt diff=git-crypt
